.button-pill {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
}

/* Blue */
.blue {
  border-color: rgb(71,141,200);
  color: rgb(71,141,200);
  transition-duration: 0.4s;
}

.blue:hover {
  background: rgb(71,141,200);
  color: white;
}

/* Blue */
.blue-inverse {
  background-color: rgb(71,141,200);
  border-color: rgb(71,141,200);
  transition-duration: 0.4s;
  color: white;
}

.blue-inverse:hover {
  background: white;
  color: rgb(71,141,200);
}

/* Yellow */
.yellow {
  border-color: rgb(255,202,72);
  color: rgb(255,202,72);
  transition-duration: 0.4s;
}

.yellow:hover {
  background: rgb(255,202,72);
  transition-duration: 0.4s;
  color: white;
}


/* Yellow */
.yellow-inverse {
  border-color: rgb(255,202,72);
  color: rgb(255,202,72);
}

.yellow-inverse:hover {
  background: rgb(255,202,72);
  color: white;
}


/* Green */
.success {
  border-color: #04AA6D;
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: rgba(255,0,0,1);;
}

.danger:hover {
  background: rgba(255,0,0,.5);
  color: white;
}

/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}