.blue-button-notification {
  background-color: rgb(71,141,200);
  border: 1px solid rgb(71,141,200);
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  position: relative;
  /* display: inline-block; */
  border-radius: 16px;
  cursor: pointer;
  width: 100px;
}

.blue-button-notification :hover {
  background: rgb(56, 113, 159);
  color: white;
  transition-duration: 0.4s;
}

 .blue-button-notification-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}


.yellow-button-notification {
  background-color: rgb(255,202,72);
  border: 1px solid rgb(255,202,72);
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  position: relative;
  /* display: inline-block; */
  border-radius: 16px;
  cursor: pointer;
  width: 100px;
}

.yellow-button-notification :hover {
  background: red;
}

 .yellow-button-notification-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
