/* .button-pill {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
  width: 100px;
} */

/* Blue Solid */
.blue-solid {
  background-color: rgb(71,141,200);
  border-color: rgb(71,141,200);
  border: 2px solid rgba(71,141,200, 0.5);
  color: white;
  transition-duration: 0.4s;
 
}

.blue-solid:hover {
  background: rgb(56, 113, 159);
  color: white;
  transition-duration: 0.4s;

}


.blue-button-notification {
  background-color: rgb(71,141,200);
  border: 1px solid rgb(71,141,200);
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  position: relative;
  /* display: inline-block; */
  border-radius: 16px;
  cursor: pointer;
  width: 100px;
}

.blue-button-notification :hover {
  background: rgb(56, 113, 159);
  color: white;
  transition-duration: 0.4s;
}

 .blue-button-notification-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}


/* Yellow Solid*/
.yellow-solid {
  background-color: rgb(255,202,72);
  border-color: rgb(255,202,72);
  color: white;
  transition-duration: 0.4s;
}

.yellow-solid:hover {
  background: rgb(244, 196, 74);
 
  transition-duration: 0.4s;
}


.yellow-button-notification {
  background-color: rgb(255,202,72);
  border: 1px solid rgb(255,202,72);
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  position: relative;
  /* display: inline-block; */
  border-radius: 16px;
  cursor: pointer;
  width: 100px;
}

.yellow-button-notification :hover {
  background: rgb(255,202,72);
  color: white;
  transition-duration: 0.4s;
}

 .yellow-button-notification-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
